@page {
    size: auto;
    margin: 0;
}

@print {
	@page :footer {
		display: none
	}

	@page :header {
		display: none
	}
}

@media print {
    @page {
        margin-top: 0;
        margin-bottom: 0;
    }
    body {
        padding-top: 72px;
        padding-bottom: 72px ;
    }
}

/* Enter your custom styles here */
.cssChatMessage {
    text-align: left;
    padding: .3rem;
    background: #73AD21;
    color: white;
    margin-top: 2px;
    border-radius: 30px;
}

.TableBorder .sapMListTblCell {
    padding: 0 0.5rem;
    border-left: 1px solid;
    border-bottom: 1px solid;
}


.cssDanger .sapMLabelTextWrapper {
    text-overflow: ellipsis;
    overflow: hidden;
    color: red;
    font-size:1rem;
}

.cssSelectedBg {
	background-color:#000000;
}

tr[data-selected="true"]{
background: #dcca3e !important;
}
